body {
  position: absolute;
  margin: 0;
}

.navegador {
  display: inline-block;
}

.navegador li {
  display: inline;
}

.header {
  position: fixed;
  background: blue;
  height: 56px;
  width: 1800px;
  background: #4a6c82;
}

.cajatxt {
  margin-left: 400px;
}

.navegador li {
  color: white;
  margin-right: 20px;
}

.boton {
  margin-left: 20px;
}

.cuerpo {
  margin: 56px 170px 0 170px;
  width: 1000px;
}

.principal {
  height: 385px;
  background: url("../images/Imagen_post.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px 450px;
}

.DatosPrincipal {
  width: 527px;
  height: 153px;
  background-color: white;
  margin: 190px 0 0 30px;
  float: left;
}

.DatosPrincipal h2 {
  margin-left: 25px;
}

.FotoDelAutor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin: 0 30px 0 30px;
}

.InfoPostPrincipal {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.posts {
  height: 95px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post {
  height: 319px;
  width: 319px;
}

.DatosPost{
  display: flex;
  justify-content: space-between;
}

.AutorPost {
  margin: 0;
}

.FechaPost {
  margin: 0;
}

.TituloPost {
  margin: 15px 0 23px 0;
}

.imgPost {
  height: 215px;
}

.Navegacion {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 37px 0 23px 0;
}

.Navegacion h3 {
  display: inline;
  margin: 0;
}
